<h2>Liste des offres d'emploi</h2>
<form (submit)="rechercherOffres($event)">
  <label>
    Rechercher par entreprise :
    <input type="text" [(ngModel)]="nomEntrepriseRecherchee" name="nomEntrepriseRecherchee">
  </label>
  <button type="submit">Rechercher</button>
</form>
<button (click)="calculerBilan()">Bilan</button>
    <ul>
      <li *ngFor="let offre of listeEmploi">
        <th >{{offre.reference}}</th>
        <td>{{offre.titre}}</td>
        <td>{{offre.entreprise}}</td>
        <td>{{offre.etat}}</td>
        <button [disabled]="offre.etat === false">Postuler</button>
      </li>
    </ul>